mat-sidenav-container {
  width: 10%;
  height: 100%;
  .sidenav {
    z-index: -9999;
  }

  mat-sidenav-content {
    background-color: white;
  }

  mat-sidenav {
    background-color: azure;
    width: 60%;
  }

  img {
    min-width: 10%;
    min-height: 10%;
    max-height: 10%;
    max-width: 10%;
  }

  button {
    margin-top: 200%;
  }
}
